.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  margin: 2rem 1.5rem 0 1.5rem;
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
}

.column {
  width: 50%;
  display: flex;
}

.column:first-child {
  padding-right: 1.5rem;
  border-right: solid 1px gray;
}

.column:first-child > div {
  flex-grow: 1;
}

.column:last-child {
  padding-left: 1.5rem;
}

.entity span {
  border-radius: 5px;
  padding: 0.25rem;
}

.entity.location span {
  background: linear-gradient(to right, #ff99ff 0%, #ffff00 100%);
}

.entity.location span:after {
  content: "\00a0LOC\00a0";
  font-weight: 600;
}

.entity.people span {
  background: linear-gradient(to right, #66ccff 0%, #ffccff 100%);
}

.entity.people span:after {
  content: "\00a0PEOP\00a0";
  font-weight: 600;
}

.entity.organization span {
  background: linear-gradient(to right, #ff9933 0%, #ff6666 100%);
}

.entity.organization span:after {
  content: "\00a0ORG\00a0";
  font-weight: 600;
}

.entity.other span {
  background: linear-gradient(to right, #00ffff 0%, #00ff00 100%);
}

.entity.other span:after {
  content: "\00a0OTHER\00a0";
  font-weight: 600;
}
